@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Space+Mono&family=Titillium+Web:wght@300&display=swap');
*,*::after,*::before {
	box-sizing: border-box;
    font-family: sans-serif;
    background-color: rgb(9, 24, 47);
    padding: 0;
    margin: 0;
}
.main-nav{
    background-color: rgb(9, 24, 47);
    box-shadow: 0 7px 20px 0 rgb(0 0 0 / 20%), 0 4px 10px 0 rgb(0 0 0 / 20%);
    min-width: 100%;
    height: 4rem;
    display: flex;
}
.main-menu li{
    list-style: none;
    display: inline-block;
    /* text-transform: uppercase; */
    font-size: 20px;
    font-weight: 600;
   
}
.main-menu a{
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    color: #ccd6f6;
}
.main-menu{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    
}
.main-menu a{
    position: relative;  
    padding: 0 10px;
    transition: 0.2s;
}
.main-menu a::after{
    content: "";
    position: absolute;
    background-color: #64ffda;
    height: 4px;
    width: 0;
    left: 0;
    bottom: -17px;
    transition: 0.3s;
}
.links:hover{
    color: #64ffda;
}

.main-menu a:hover::after,a:focus::after{
    
    width: 100%;
}

#contents-holder{
    padding-top: 150px;
    padding-bottom: 150px;
}
.intro-one{
    font-size: 25px;
    font-weight: 700;
    color: #64ffda;
    letter-spacing: 5px;
    position: relative;
    animation: text 2s 1;
    background: rgb(9, 24, 47);
    height: 4rem;
    margin-top: 150px;
}
.intro-two{
    color: #ccd6f6;
    font-size: 25px;
    font-weight: 800;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;

}
@keyframes text {
    0%{
        color: rgb(9, 24, 47);
        margin-bottom: -70px;
    }
    
}
.intro-one::after{
    content: "";
    position: absolute;
    background-color: #233554;
    height:2px;
    width: 20%;
    margin-top: 18px;
    
}
.intro-three{
    color: #8892b0;
    font-size: 15px;
    font-family: 'Titillium Web', sans-serif;
    text-align: justify;
    margin-top: 15px;
}
.profile{
    border-radius: 25px;
    border: 2px solid #64ffda;
    transition: 0.2s;
    cursor: pointer;
}

.project-image{
    border: 2px solid #64ffda;
    box-shadow: 2px 2px 5px #ccd6f6;
}
.project-counter{
    color:#64ffda; 
    font-family: 'Space Mono', monospace;
    text-align: center;
    
}
.project-title{
    color: #ccd6f6;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
}
.github-link{
    text-align: center;
}
.text-container{
    width: 100%;
    background-color: rgb(17,34,63);
    line-height: 1.5;
    
    border-radius: 5px;
    border: 1px solid #64ffda;
    color: #ccd6f6;
    padding: 25px;
    overflow: hidden;
    margin-top: 40px;
    font-family: 'Space Mono', monospace;
    text-align: justify;
}
#contents{
    margin-top: 150px;
}
#card-modify{
    border: 1px solid #64ffda;
    border-radius: 3px;
    transition: 0.2s;
    margin: 0 auto;
    margin-top: 25px;
}
#card-modify:hover{
    transform: translateY(-0.25em);
}
.connect-button{
    border: 2px solid #ccd6f6;
    padding: 5px;
    color: white;
    margin: 0 auto;
}
.connect-button:hover{
    border: 2px solid #64ffda;
}
.connect-button a{
    color: #ccd6f6;
    text-decoration: none;
}
.connect-button a:hover{
    color: #64ffda;
    
}
.line-gray{
    background-color: #233554;
    height:2px;
    width: 100%;
    margin-bottom: 35px;
    
}
@media (min-width:989px) {
    .main-menu a{
        font-size: 20px;
    }
    .main-menu{
        gap: 30px;
    }
    .intro-two{
        font-size: 50px;
        text-align: left;
    }
    .intro-one::after{
        width: 60%;
    }
    .intro-three{
        font-size: 19.2px;
    }
    .profile{
        margin-top: 90px;
        margin-left: 150px;
        width: 400px;
        height: 400px;
    }
    .project-counter,.project-title,.github-link{
        text-align: left;
    }
    .text-container{
        margin-left: -110px;
    }
    #contents{
        margin-top: 350px;
    }
}